body{
    background:url(image/@Wallpaper_4K3D\ \(12430\).jpg)
}
.clock{
    background-color: rgba(0, 0, 0, 0.582);
    width: 800px;
    height:200px;
    margin: 20% auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px white,
    -5px -5px 10px 1px white;
    color: silver;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    font-size: 6rem;
    transition: all 1s ease;
}
.date{  
    background-color: rgba(0, 0, 0, 0.822);
    width: 500px;
    height:100px;
    margin: -21% auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px white,
    -5px -5px 10px 1px white;
    color: silver;
    text-align: center;
    /* box-sizing: border-box; */
    padding: 0px 0px 15px 0;
    font-size: 6rem;
    transition: all 1s ease;
}