body{
    background:url(./images/clock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.clock{
    background-color: rgba(0, 0, 0, 0.582);
    width: 800px;
    height:200px;
    margin: 18% auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px white,
    -5px -5px 10px 1px white;
    color: silver;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    font-size: 6rem;
    transition: all 1s ease;
}
.date{  
    background-color: rgba(0, 0, 0, 0.822);
    width: 500px;
    height:100px;
    margin: -19% auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px white,
    -5px -5px 10px 1px white;
    color: silver;
    text-align: center;
    padding: 0px 0px 15px 0;
    font-size: 6rem;
    transition: all 1s ease;
}
.buttons{
    display: flex;
    margin:20% auto;
    justify-content: center;

}
.buttons button{
    background-color: rgba(255, 255, 255, 0.719);
    width: 200px;
    height: 50px;
    margin: 0 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    border: none;
}
.buttons button:hover{
    background-color: rgb(122, 122, 122) ;
    cursor: pointer;
}